* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}

body {
    color: #ededed;
    background: #081b29;
    background-size: cover;
    

}

section {
  min-height: calc(100vh - 100px);
}




.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
    background: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 10;
    animation: slideRight 0.8s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    cursor: pointer;
    opacity: 0.7;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
     background: linear-gradient(135deg, #0ef, #0ef);
    color: #000;
}

.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #081b29;
    background-size: cover;
    display: flex;
    justify-content: center;
    gap: 60px;
    /* image right, text left */
    align-items: center;
    padding: 60px 10% 40px;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 1;

    animation-delay: 0.1s;
}
.home-content h3 span{
    color: #0ef;
    font-weight: 700;

}

.home-content h2 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;

}

.home-content p {
    font-size: 18px;
    margin-top: 10px;
}

.home-img img {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    object-fit: cover;          /* ensures proper fit inside circle */
    box-shadow: 0 0 25px #0ef;
    cursor: pointer;

    /* FIXED transition */
    transition: transform 0.4s ease-in-out,
                box-shadow 0.4s ease-in-out;
}

.home-img img:hover {
    /* VERY small scale to reduce zoom */
    transform: scale(1.03);

    box-shadow: 0 0 25px #0ef,
                0 0 50px #0ef,
                0 0 75px #0ef;
}




.home-sci {
    display: flex;
    /* icons side-by-side */
    gap: 15px;
    /* space between icons */
    margin-top: 15px;/
}

.home-sci a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
}

.home-sci a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.btn-box {
    display: inline-block;
    padding: 15px 30px;
    background: #0ef;
    border-radius: 30px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 12px;
}
.btn-box:hover {
    box-shadow: 0 0 5px #0ef,
        0 0 25px #0ef;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translatey(-100px);
        opacity: 0;
    }

    100% {
        transform: translatey(0px);
        opacity: 1;
    }
}



.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding-top: 20px;
    padding: 110px 12%;
    background: #081b29;
}

/* Left Side Image */

.about-img img {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    object-fit: cover;          /* ensures proper fit inside circle */
    box-shadow: 0 0 25px #0ef;
    cursor: pointer;

    /* FIXED transition */
    transition: transform 0.4s ease-in-out,
                box-shadow 0.4s ease-in-out;
}

.about-img img:hover {
    /* VERY small scale to reduce zoom */
    transform: scale(1.03);

    box-shadow: 0 0 25px #0ef,
                0 0 50px #0ef,
                0 0 75px #0ef;
}

/* Right Side Text */
.about-text {
    max-width: 900px;
    margin-left: 60px;
}
.about-text h2 {
    font-size: 60px;
}

.about-text h2 span {
    color: #0ef;
}

.about-text h4 {
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about-text p{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 2rem;
}




.heading{
    font-size: 70px;
    text-align: center;
    margin: 5rem;
}
.education{
    scroll-margin-top: 60px;
    padding-top: 10px;
    padding:15px 15px;
    background: var(--second-bg-color);
}
.education .heading{
      margin-top: 0 !important;
  margin-bottom: 1rem;
}
.education h2{
    margin-bottom: 5rem;
}
.timeline-items{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.timeline-items::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: #0ef;
    left: calc(50% - 1px);
}
.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}
.timeline-item:last-child{
    margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
    height: 21px;
    width: 21px;
    background-color: #0ef;
    box-shadow: 0 0 5px #0ef,
        0 0 25px #0ef;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}
.timeline-date{
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin: 6px 0 15px;
 }
.timeline-content{
    background-color: #081b29;
    border: 3px solid #0ef;
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 25px #0ef;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.timeline-content:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px #0ef;
}
.timeline-content h3{
    font-size: 20px;
    color: white;
    margin: 0 0 10px;
    font-weight: 500;
}
.timeline-content p{
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}







#skilling{
  min-height: auto;
  scroll-margin-top: 1px; 
  padding-top: 90px;
  padding-bottom: 80px;
}
.sub-title{
    text-align: center;

    font-size: 60px;
    margin-top: 0;
}

.sub-title span {
    color: #0ef;
}

.container1{
    width: 1158px;
    min-height: 100px;
     padding: 35px 90px;
     margin: 0 auto;   
}
.heading1{
    width: 100%;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;

}

.bar{
    font-size: 23px;

}
.technical-bars .bar{
    margin: 40px 0;
}

.technical-bars .bar .info{
    margin-bottom: 5px;
}
.technical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation:  showText 0.5s 1s linear forwards;
    opacity: 1;
}

.bar{
    font-size: 23px;
}
.technical-bars .bar{
    margin: 40px 0;
}
.technical-bars .bar:first-child{
    margin-bottom: 0;
}
.technical-bars .bar:last-child{
    margin-bottom: 0;
}
.technical-bars .bar .info{
    margin-bottom: 5px;
}
.technical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation:  showText 0.5s 1s linear forwards;
    opacity: 1;
}
.technical-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}
.technical-bars .bar .progress-line span{
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
     animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
     transform: scaleX(0);
     transform-origin: left;   
}
.progress-line.HTML span{
    width: 88%;
}
.progress-line.CSS span{
    width: 60%;
}
.progress-line.javascript span{
    width: 50%;
}
.progress-line.Cplus span{
    width: 85%;
}
.progress-line.C span{
    width: 93%;
}
.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
.progress-line.HTML span::after{
    content: "88%";
}
.progress-line.CSS span::after{
    content: "60%";
}
.progress-line.javascript span::after{
    content: "50%";
}
.progress-line.Cplus span::after{
    content: "85%";
}
.progress-line.C span::after{
    content: "93%";
}
.progress-line span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-bottom-right-radius: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
@keyframes showText{
    100%{
        opacity: 1;
    }
}